<section>
    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <input
               type="email"
               matInput
               placeholder="Votre email"
               formControlName="email">
            <mat-hint>Pardon entrer une adresse email vailde.</mat-hint>
            <mat-error>Invalide ou adresse email manquante.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input
                type="password"
                matInput
                placeholder="Votre mot de passe"
                formControlName="password">
            <mat-hint>Pardon entrer votre mot de passe.</mat-hint>
            <mat-error>mot de passe manquant.</mat-error>
        </mat-form-field>
        <button *ngIf="!isLoading" type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">Connexion</button>
        <mat-spinner *ngIf="isLoading"></mat-spinner>
    </form>
</section>
