<div class="welcome" fxLayout="column" fxLayout.gt-lg="row" fxLayoutGap.gt-md="20px"  fxLayoutAlign="center center">
  <section>
    <h1>ACTIVITE</h1>
    <p>Rester actif et proditer d'une meilleure santé et de plus de fun</p>
  </section>
  <section>
    <h1>COMMUNAUTE</h1>
    <p>Aller a la rencontre d'autre personnes et partager votre passion</p>
  </section>
  <section>
    <h1>CHALLENGES</h1>
    <p>Ne vous arretez pas, et plongez vous dans de nouveaux challenges tout les jours</p>
  </section>
</div>
